---
layout: base.njk
title: Home — Stephan Zych
permalink: /
---
<sz-dashboard nav='{{ nav.tabs | dump }}' wordmark='{{ startScreen.wordmark | dump }}' taglines='{{ startScreen.taglines | dump }}'></sz-dashboard>
